DATABASE_URL=jdbc:postgresql://localhost:5432/tally
DATABASE_USERNAME=tally
DATABASE_PASSWORD=tally
# openssl rand -base64 32
APP_ENCRYPTION_KEY=
# any long random string
APP_JWT_SECRET=
# false only for local http
APP_SECURE_COOKIES=false
